//BEGIN footer
footer.footer
  .container
    nav.footer-nav
      ul.list-reset.footer-nav-list
        li: a(href="#"): span Главная
        li: a(href="#"): span О компании 
        li: a(href="#"): span Решения и услуги
      ul.list-reset.footer-nav-list
        li: a(href="#"): span Отрасли 
        li: a(href="#"): span Проекты
        li: a(href="#"): span Каталог
      ul.list-reset.footer-nav-list
        li: a(href="#"): span Партнеры
        li: a(href="#"): span Пресс-центр
        li: a(href="#"): span Контакты
    aside.footer-aside
      a.footer-contact-us.popup-link(href="#popup-contact")
      a.phone(href="tel:+7(495)9261240")
        include ../data/phone.svg
        span +7 (495) 926 12 40
      a.mail(href="mailto:info@cctcom.ru") info@cctcom.ru
      form.search-form
        input.input.search-input(type="text" placeholder="Что будем искать?")
        button.button-search
          include ../data/magnifier.svg
    .footer-bottom
      .socials
        a.social-link(href="#")
          include ../data/vk.svg
        a.social-link(href="#")
          include ../data/facebook.svg
        a.social-link(href="#")
          include ../data/twitter.svg
        a.social-link(href="#")
          include ../data/odnoklassniki.svg
//END footer
