//BEGIN header
header.header
  // start header-middle
  .header-middle
    .container
      a.nav-trigger(href="#" role="button")
        span.hamb
      a.logo(href="#" title="ССТ")
        img(src="images/logo.png" alt="ССТ")
      aside.header-aside
        a.popup-link.header-icon-link(href="popup-contact")
          include ../data/envelope.svg
        a.popup-link.header-icon-link(href="popup-call")
          include ../data/phone.svg
        form.search-form
          input.input.search-input(type="text" placeholder="Что будем искать?")
          button.button-search.js-form-trigger
            include ../data/magnifier.svg
  // end header-middle
  // start header-bottom
  .header-bottom
    a.main-nav-trigger.hidden-sm.hidden-md.hidden-lg(href="#" role="button")
      span Открыть меню
    // start main-nav
    include _nav
    // end main-nav
  // end header-bottom
//END header
