.mobile-menu
  nav.mobile-nav
    a(href="#") о компании 
    a(href="#") решения и услуги  
    a(href="#") продукты 
    a(href="#") отрасли 
    a(href="#") история 
    a(href="#") успеха  
    a(href="#") пресс-центр  
    a(href="#") карьера 
    a(href="#") контакты
