//- title: Index Page
extends layouts/_layout
block head
  - var title = 'News Article'
  - var active = 7
block content
  // start news-article
  section.news-article
    article
      // start top-block
      header.top-block.top-block-post
        // start top-block-image
        .top-block-right
          .background(style="background-image: url(images/news-full1.jpg)")
        // end top-block-image
        // start top-block-left
        .top-block-left
          .inner
            a.top-block-back(href='#')
              .circle
                include data/arr-left.svg
              span Вернуться
            h1.top-block-heading В 2017 году компания ССТ продолжит сотрудничество с СО ЕЭС
            p.top-block-desc Построение телекоммуникационных,  инженерных систем и систем безопасности
      .custom-content
        .container
          p 19 июня 2014 года компания ООО «Связь Сервис Телекоммуникации» (ССТ) совместно с компанией Unify провела информационный семинар  «Инновационные технологии на службе современной компании». Целью семинара являлось знакомство с принципиальными изменениями, происходящими на рынке IT-решений и возможностью использования их для современного бизнеса.
          p Спикеры от компании Unify выступили с докладами о высокотехнологичных новинках и новом поколении коммуникационных платформ. #[br] В ходе докладов представители компании Unify дали ответы на важные для любого управленца вопросы:
          ul.custom-list
            li Как, используя современные средства коммуникаций, сделать команду сотрудников максимально продуктивной?
            li Какие решения позволят сотрудникам работать гибко независимо от расположения рабочего места?
            li Как ускорить процесс принятия решений, используя инструменты для  совместной работы?
          p Участники семинара узнали о возможности обеспечения всех коммуникационных сервисов для компании на базе IP-технологий и унифицированных коммуникаций, о возможности сокращения расходов на связь, повышения продуктивности сотрудников и улучшения качества обслуживания клиентов.
          p В следующем блоке выступлений специалисты ССТ продемонстрировали возможности системы видеоконференцсвязи, которая  дополняет пакет унифицированных коммуникаций и средств совместной работы возможностью организации многоточечного видеовзаимодействия. Была организована презентация решений для обеспечения надежной, удобной в использовании, масштабируемой многоточечной системы видеоконференций как в IP-сетях, так и для ISDN.   Развернутое в зале демонстрационное оборудование дало возможность участникам семинара в режиме реального времени оценить работу видеоконференцсвязи и максимально высокое качество передачи изображения.
          p Завершающий доклад был посвящен системам позиционирования объектов и возможностям использования их для бизнеса. Была проведена презентация комплексного решения,  позволяющего отслеживать движение продукции на протяжении всего технологического цикла производства и хранения, контролировать местонахождение и перемещение персонала, а также повышать эффективность работы действующих систем безопасности. Были наглядно продемонстрированы принципы работы системы позиционирования,  служащих для осуществления контроля.
          p После окончания выступлений участники задали спикерам массу вопросов, примеряя новые решения на свою компанию. За официальной частью мероприятия последовал фуршет, на котором гости могли в неформальной обстановке обсудить свои пожелания и вопросы с менеджерами компании, а также обменяться впечатлениями.
    // start news-article-bottom
    .news-article-bottom
      a.btn.btn-mini.popup-link(href="popup-contact")
        span
          include data/envelope.svg
    // end news-article-bottom
  // end news-article
  // start projects-history
  section.projects-history
    h3 История успеха
    ul.projects-slider.list-reset
      li.slide
        a.projects-history-slide(href="#")
          .logo
            img(src="images/project-logo1.jpg" alt="Смартс")
          h4 Cтроительство Зонового узла
          p Строительство Сети Metro Ethernet
          .circle
            include data/arr-right.svg
      li.slide
        a.projects-history-slide(href="#")
          .logo
            img(src="images/project-logo2.jpg" alt="Газпром")
          h4 организация узла связи
          p г. Москва, Варшавское ш., д.118, БЦ « Варшавка Скай»
          .circle
            include data/arr-right.svg
      li.slide
        a.projects-history-slide(href="#")
          .logo
            img(src="images/project-logo3.jpg" alt="Ростелеком")
          h4 телефонизация новостроек
          p Строительство сети FTTB light по адресу МО
          .circle
            include data/arr-right.svg
      li.slide
        a.projects-history-slide(href="#")
          .logo
            img(src="images/project-logo1.jpg" alt="Смартс")
          h4 Cтроительство Зонового узла
          p Строительство Сети Metro Ethernet
          .circle
            include data/arr-right.svg
      li.slide
        a.projects-history-slide(href="#")
          .logo
            img(src="images/project-logo2.jpg" alt="Газпром")
          h4 организация узла связи
          p г. Москва, Варшавское ш., д.118, БЦ « Варшавка Скай»
          .circle
            include data/arr-right.svg
      li.slide
        a.projects-history-slide(href="#")
          .logo
            img(src="images/project-logo3.jpg" alt="Ростелеком")
          h4 телефонизация новостроек
          p Строительство сети FTTB light по адресу МО
          .circle
            include data/arr-right.svg
  // end projects-history
  .breadcrumbs-bottom
    ul.list-reset.breadcrumbs-list
      li: a(href="#") Главная
      li: a.current(href="#") Каталог
