//- title: Index Page
extends layouts/_layout
block head
  - var title = 'Solutions'
  - var active = 2
block content
  // start solutions
  section.solutions
    .container
      h1.page-heading Новости
      .solutions-group
        .row
          .col-xs-12.col-sm-12.col-md-6.col-lg-4
            // start solutions-item
            .solutions-item 
              .solutions-image
                img(src="images/cat-img1.jpg")
              .content
                .inner
                  .solutions-item-container
                    .wrap
                      .solutions-item-heading Сети и системы связи 
                      a.solutions-item-link(href="#") Строительство  линейно-кабельных сооружений связи в т.ч. ВОЛС
                      a.solutions-item-link(href="#") Структурированные кабельные системы
                      a.solutions-item-link(href="#") Корпоративные сети передачи данных
                      a.solutions-item-link(href="#") Cистемы спектрального уплотнения DWDM
                      a.solutions-item-link(href="#") Корпоративные системы TDM и IP телефонии
                      a.solutions-item-link(href="#") Системы беспроводной связи WiFi, DECT
                      a.solutions-item-link(href="#") Унифицированные коммуникации UC Контакт-центры
                      a.solutions-item-link(href="#") Системы тарификации и регистрации переговоров
                      a.solutions-item-link(href="#") Диспетчерские пункты и ситуационные центры
                      a.solutions-item-link(href="#") Системы аудио и видеоконференцсвязи
                      a.solutions-item-link(href="#") Системы локального позиционирования объектов
                      a.solutions-item-link(href="#") Системы мониторинга сетевой инфраструктуры
                      a.solutions-item-link(href="#") Системы сетевой и информационной безопасности
                  a.circle.js-circle-toggle(href="#" role="button")
                    include data/arr-down-long.svg  
            // end solutions-item
          .col-xs-12.col-sm-12.col-md-6.col-lg-4
            // start solutions-item
            .solutions-item 
              .solutions-image
                img(src="images/cat-img2.jpg")
              .content
                .inner
                  .solutions-item-container
                    .wrap
                      .solutions-item-heading  Системы технической безопасности
                      a.solutions-item-link(href="#") Системы контроля  и управления доступом
                      a.solutions-item-link(href="#") Системы видеонаблюдения и видео-аналитики
                      a.solutions-item-link(href="#") Системы охранной и пожарной сигнализации
                      a.solutions-item-link(href="#") Системы оповещения и управления эвакуацией
                      a.solutions-item-link(href="#") Корпоративные системы TDM и IP телефонии
                      a.solutions-item-link(href="#") Системы беспроводной связи WiFi, DECT
                      a.solutions-item-link(href="#") Унифицированные коммуникации UC Контакт-центры
                      a.solutions-item-link(href="#") Системы тарификации и регистрации переговоров
                      a.solutions-item-link(href="#") Диспетчерские пункты и ситуационные центры
                      a.solutions-item-link(href="#") Системы аудио и видеоконференцсвязи
                      a.solutions-item-link(href="#") Системы локального позиционирования объектов
                      a.solutions-item-link(href="#") Системы мониторинга сетевой инфраструктуры
                      a.solutions-item-link(href="#") Системы сетевой и информационной безопасности
                  a.circle.js-circle-toggle(href="#" role="button")
                    include data/arr-down-long.svg  
            // end solutions-item
          .col-xs-12.col-sm-12.col-md-6.col-lg-4
            // start solutions-item
            .solutions-item 
              .solutions-image
                img(src="images/cat-img3.jpg")
              .content
                .inner
                  .solutions-item-container
                    .wrap
                      .solutions-item-heading Информационно-вычислительные комплексы
                      a.solutions-item-link(href="#") Серверные системы
                      a.solutions-item-link(href="#") Системы информационной безопасности
                      a.solutions-item-link(href="#") Системы виртуализации серверных ресурсов
                      a.solutions-item-link(href="#") Системы оповещения и управления эвакуацией
                      a.solutions-item-link(href="#") Корпоративные системы TDM и IP телефонии
                      a.solutions-item-link(href="#") Системы беспроводной связи WiFi, DECT
                      a.solutions-item-link(href="#") Унифицированные коммуникации UC Контакт-центры
                      a.solutions-item-link(href="#") Системы тарификации и регистрации переговоров
                      a.solutions-item-link(href="#") Диспетчерские пункты и ситуационные центры
                      a.solutions-item-link(href="#") Системы аудио и видеоконференцсвязи
                      a.solutions-item-link(href="#") Системы локального позиционирования объектов
                      a.solutions-item-link(href="#") Системы мониторинга сетевой инфраструктуры
                      a.solutions-item-link(href="#") Системы сетевой и информационной безопасности
                  a.circle.js-circle-toggle(href="#" role="button")
                    include data/arr-down-long.svg  
            // end solutions-item
          .col-xs-12.col-sm-12.col-md-6.col-lg-4
            // start solutions-item
            .solutions-item 
              .solutions-image
                img(src="images/cat-img3.jpg")
              .content
                .inner
                  .solutions-item-container
                    .wrap
                      .solutions-item-heading Комплексные услуги
                      a.solutions-item-link(href="#") Проектно-изыскательские работы
                      a.solutions-item-link(href="#") ИТ-аудит и ИТ-консалтинг
                      a.solutions-item-link(href="#") Поставка оборудования
                      a.solutions-item-link(href="#") Строительно-монтажные работы
                      a.solutions-item-link(href="#") Корпоративные системы TDM и IP телефонии
                      a.solutions-item-link(href="#") Системы беспроводной связи WiFi, DECT
                      a.solutions-item-link(href="#") Унифицированные коммуникации UC Контакт-центры
                      a.solutions-item-link(href="#") Системы тарификации и регистрации переговоров
                      a.solutions-item-link(href="#") Диспетчерские пункты и ситуационные центры
                      a.solutions-item-link(href="#") Системы аудио и видеоконференцсвязи
                      a.solutions-item-link(href="#") Системы локального позиционирования объектов
                      a.solutions-item-link(href="#") Системы мониторинга сетевой инфраструктуры
                      a.solutions-item-link(href="#") Системы сетевой и информационной безопасности
                  a.circle.js-circle-toggle(href="#" role="button")
                    include data/arr-down-long.svg  
            // end solutions-item
          .col-xs-12.col-sm-12.col-md-6.col-lg-4
            // start solutions-item
            .solutions-item 
              .solutions-image
                img(src="images/cat-img3.jpg")
              .content
                .inner
                  .solutions-item-container
                    .wrap
                      .solutions-item-heading Интеллектуальный город
                      a.solutions-item-link(href="#") Системы оповещения населения в чрезвычайных ситуациях
                      a.solutions-item-link(href="#") Системы видеонаблюдения и видеоаналитики
                      a.solutions-item-link(href="#") Ситуационные центры
                      a.solutions-item-link(href="#") Системы оповещения и управления эвакуацией
                      a.solutions-item-link(href="#") Корпоративные системы TDM и IP телефонии
                      a.solutions-item-link(href="#") Системы беспроводной связи WiFi, DECT
                      a.solutions-item-link(href="#") Унифицированные коммуникации UC Контакт-центры
                      a.solutions-item-link(href="#") Системы тарификации и регистрации переговоров
                      a.solutions-item-link(href="#") Диспетчерские пункты и ситуационные центры
                      a.solutions-item-link(href="#") Системы аудио и видеоконференцсвязи
                      a.solutions-item-link(href="#") Системы локального позиционирования объектов
                      a.solutions-item-link(href="#") Системы мониторинга сетевой инфраструктуры
                      a.solutions-item-link(href="#") Системы сетевой и информационной безопасности
                  a.circle.js-circle-toggle(href="#" role="button")
                    include data/arr-down-long.svg  
            // end solutions-item
          .col-xs-12.col-sm-12.col-md-6.col-lg-4
            // start solutions-item
            .solutions-item 
              .solutions-image
                img(src="images/cat-img3.jpg")
              .content
                .inner
                  .solutions-item-container
                    .wrap
                      .solutions-item-heading Интеллектуальные транспортные системы
                      a.solutions-item-link(href="#") Система фото- и видеофиксации
                      a.solutions-item-link(href="#") Система интеллектуального управления светофорами
                      a.solutions-item-link(href="#") Система информирования участников дорожного реагирования
                      a.solutions-item-link(href="#") Системы оповещения и управления эвакуацией
                      a.solutions-item-link(href="#") Корпоративные системы TDM и IP телефонии
                      a.solutions-item-link(href="#") Системы беспроводной связи WiFi, DECT
                      a.solutions-item-link(href="#") Унифицированные коммуникации UC Контакт-центры
                      a.solutions-item-link(href="#") Системы тарификации и регистрации переговоров
                      a.solutions-item-link(href="#") Диспетчерские пункты и ситуационные центры
                      a.solutions-item-link(href="#") Системы аудио и видеоконференцсвязи
                      a.solutions-item-link(href="#") Системы локального позиционирования объектов
                      a.solutions-item-link(href="#") Системы мониторинга сетевой инфраструктуры
                      a.solutions-item-link(href="#") Системы сетевой и информационной безопасности
                  a.circle.js-circle-toggle(href="#" role="button")
                    include data/arr-down-long.svg  
            // end solutions-item
      // start solutions-bottom
      .bottom-block
        a.btn.btn-mini.popup-link(href="popup-contact")
          span
            include data/envelope.svg
      // end solutions-bottom
  // end solutions
  // start projects-history
  section.projects-history
    h3 История успеха
    ul.projects-slider.list-reset
      li.slide
        a.projects-history-slide(href="#")
          .logo
            img(src="images/project-logo1.jpg" alt="Смартс")
          h4 Cтроительство Зонового узла
          p Строительство Сети Metro Ethernet
          .circle
            include data/arr-right.svg
      li.slide
        a.projects-history-slide(href="#")
          .logo
            img(src="images/project-logo2.jpg" alt="Газпром")
          h4 организация узла связи
          p г. Москва, Варшавское ш., д.118, БЦ « Варшавка Скай»
          .circle
            include data/arr-right.svg
      li.slide
        a.projects-history-slide(href="#")
          .logo
            img(src="images/project-logo3.jpg" alt="Ростелеком")
          h4 телефонизация новостроек
          p Строительство сети FTTB light по адресу МО
          .circle
            include data/arr-right.svg
      li.slide
        a.projects-history-slide(href="#")
          .logo
            img(src="images/project-logo1.jpg" alt="Смартс")
          h4 Cтроительство Зонового узла
          p Строительство Сети Metro Ethernet
          .circle
            include data/arr-right.svg
      li.slide
        a.projects-history-slide(href="#")
          .logo
            img(src="images/project-logo2.jpg" alt="Газпром")
          h4 организация узла связи
          p г. Москва, Варшавское ш., д.118, БЦ « Варшавка Скай»
          .circle
            include data/arr-right.svg
      li.slide
        a.projects-history-slide(href="#")
          .logo
            img(src="images/project-logo3.jpg" alt="Ростелеком")
          h4 телефонизация новостроек
          p Строительство сети FTTB light по адресу МО
          .circle
            include data/arr-right.svg
  // end projects-history
